$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$color_1: #eeee55;
$color_2: #ddd;
$color_3: #888;
$color_bg: $color_3;
$first_page_height: 98vh;
$first_page_rest: 2vh;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    background: $color_bg;
}
.jumbotron {
    background: $color_1;
}
#myOne {
    background: $color_1;
    height: $first_page_height;
}
#myTwo {
    background: $color_2;
}
#myThree {
    background: $color_3;
}
.cv-frame {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 96vw;
    width: 40em;
    height: 168em;
}
.glyphicon.glyphicon-large {
    font-size: 2em;
}
.lang-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.bee {
    position: absolute;
    bottom: $first_page_rest+1;
    right: 1vw;
    max-width: 98vw;
    max-height: $first_page_height;
    opacity: 0.6;
}
