$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    background: #ccc;
}

#myOne, #myTwo, #myThree {
    height: 100vh;
    width: 200vw;
    
    div {
        width: 100vw;
    }
}

#myOne{
    background: #ccf;
}

#myTwo{
    background: #cfc;
}

#myThree{
    background: #fcc;
}

#up{
    position: fixed;
    left: 50%;
    top: 10px;
}

#down{
    position: fixed;
    left: 50%;
    top: 90%;
}

#left{
    position: fixed;
    top: 50%;
    left: 10px;
}

#right{
    position: fixed;
    top: 50%;
    right: 10px;
}

span.glyphicon {
    color: #620404;
    font-size: 1.2em;
}
