$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$color_1: #eeee55;
$color_2: #88dd88;
$color_3: #eee;
$color_bg: $color_3;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    background: $color_bg;
}
.jumbotron {
    background: $color_1;
}
#myOne {
    background: $color_1;
    height: 100vh;
}
#myTwo {
    background: $color_2;
}
#myThree {
    background: $color_3;
}
.cv-frame {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.swedish {
    .cv-frame {
        height: 157em;
        width: 58em;
        max-width: 96vw;
    }
}
.english {
    .cv-frame {
        height: 170em;
        width: 58em;
    }
}
.glyphicon.glyphicon-large {
    font-size: 1.2em;
}
.glyph-lang-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.glyphicon-arrow-down {
    position: fixed;
    bottom: 10px;
    right: 50%;
}
